*{
    font-family: 'Montserrat', sans-serif;
    text-align: center;
    
}

.bg-top-img{
    position: absolute;
    right:0;
    top:0;
    z-index: -1;
    
}
.bg-btm-img{
    position: absolute;
    left: 0;
    bottom: 0;
}
.Pricing-container{
    margin: 80px;
}
.Pricing-title{
    color: #858585;
    
}
.toggler{
    color: #a5a5a5;
    
}
.prices{
    display: flex;
    justify-content: center;
    margin-top: 50px;
    
}
.price-card{
    margin: 40px 5px;
    color: #656565;
    padding: 40px;
    box-shadow: 0 0 20px gray;
    transition: margin 1s;
    background-color: #fbfeff;
    z-index: 3;
    
}
hr{
  height: 1px;
  background-color: #858585;
  border: none;
}
.dollar{
    font-size: 40px;
    font-weight: 300;
    margin: 0 10px;
}
.price{
    font-size: 60px;
    font-weight: 500;
    margin: 30px;
}
.price-card:hover{
    margin: 20px 0;
    color: #656565;
    background-color: #8c90e9;
    color: #fbfeff;
    box-shadow: 0 10px 20px #656565;
    cursor: pointer;
}
.benefits{
    font-size: 20px;
    margin: 40px 0;
}
.learn-more{
    border: none;
    border-radius: 5px;
    margin-top: 50px;
    padding: 8px 35px;
    background-color:  #8c90e9;
    color:  #fbfeff;
    font-size: 15px;
}
.learn-more:hover{
    background-color: #fbfeff;
    color: #8c90e9;
    cursor: pointer;
}

.price-card:hover .learn-more{
     background:  #fbfeff;
     color: #8c90e9;
}

.switch {
  position: relative;
  display: inline-block;
  width: 40px;
  height: 24px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: .4s;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 16px;
  width: 16px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
}

input:checked + .slider {
  background-color: #8a8ee8;
}

input:focus + .slider {
  box-shadow: 0 0 1px #8a8ee8;
}

input:checked + .slider:before {
  -webkit-transform: translateX(16px);
  -ms-transform: translateX(16px);
  transform: translateX(16px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 34px;
}

#basic,#pro,#master{
  display: flex;
  align-items: center;
  
}

@media(max-width: 768px){
  
  .prices{
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .price-card{
    width: 100%;
    
  }
  .price-card:hover{
    margin: 0;
  }
  #basic,#pro,#master{
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .bg-top-img{
    position: absolute;
    left: 220px;
    overflow: hidden;
    
  }
  .bg-btm-img{
      position: absolute;
      top: 1000px;
  }
  .toggler{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
}